table, td, th {  
    border: 1px solid rgb(147, 145, 151);
    text-align: left;
}

table {
    border-collapse: collapse;
    background-color: rgba(243, 239, 239, 0.63);
    
}
#tbl{
    float: left;
    width: 50%;
    margin-left: 2%;
}

th, td {
    padding: 15px;
}
body{
    background-color: #ffffff;
    color: #3f3f3f;
    margin-top: 0px;
}
#heading{
    display: table;
      height: 100%;
    background-image: url("./images/profile_bg.jpg");		
    text-align: center;
    color: #ffffff;			
    float: left;
    border: 1px solid black;
    width: 25%;			
}
img{
    width:15%;
    margin-left: 1%;
    margin-right: 8%;
}
#profile_pic{
    border-radius: 100%;
    width: 50%;
}
a:link{
    text-decoration:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover{
    color: rgb(146, 146, 173);
}
hr{
    color: white;
}