.nav_items_head{
    font-size: 300%;
    list-style: none; 
}
.nav_items_list{
    padding: 1.4rem;
}
.nav_items_list a{
    text-decoration: none;
    color: #737373;
    width: 100%;
}
.nav_items_list:hover, .nav_items_list:active{
    text-decoration: none;
    background-color: #ece7e7;
    border-bottom: none;
    cursor: pointer;
}
.head_icon{
    margin-right: 1.7rem;
    width: 1.7rem;
    height: 1.7rem;
}

.logo_container{
    display: inline-block;
    font-size: 2em;
    margin-left: 2rem;
    padding: auto 0;
}
.header_options{
    display: inline-block;
}

.service_bg{
    display:block;
    margin: 0 auto;
    width: 100%;
}
.body_frame_1{
    margin: 0 0;
    background-image: url('../images/cover1.png');
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2%;
}
.frame1_container{
    width: 100%;
    color: white;
    margin-bottom: 10%;
}
.frame1_container_top{
    padding-top: 2rem;
    margin-top: 5.6rem;
}
.frame1_h1{
    margin-bottom: 6.5rem;
    margin-top: 2rem;
    font-size: 3.2rem;
	font-weight: bold;
	line-height: 5rem;
}
.frame1_h4{
    font-size: 1.8rem;
	margin: 0 15%;
    margin-bottom: 12%;
}
.frame1_btn{    
    border-radius: 1rem;
    border: none;
    width: 16rem;
    height: 3rem;
    margin-top: 2%;
    font-size: 1.6em;
    color: white;
}
.frame1_btn:hover{
    background-color: grey;
}
.blue_fill{
    background-color: #23A6F0;
}
.no_fill{
    background-color: transparent;
    color: white;
    border: white solid 2px;
}
.frame1_container_down{
    margin-top: 12%;
    text-align: left;
    font-size:xx-large;
}

.moto_title{
    font-weight: bold;
}
.moto_blocks{
    margin: 8% 14%;
    padding: 10% 7%;
    width: 60%;
    background-color: white;
    color: black;
}
.frame1_dwn_block3{
    background-color: #23A6F0;
    color: white;
}

.moto_icon{
    text-align: left;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 4%;
}
.moto_text1{
    margin-top: 10%;
    font-size: 60%;
    line-height: 1rem;
    color: white;
}

.feature_specific{
    margin: 27% 0;
}
.feature_title{
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-bottom: 4%;
    margin-top: 14%;
}
.feature_text{
    font-size: 1rem;
    line-height: 1.4rem;
}
.grey_text{
    color: #737373;
}
.black_text{
    color: black;
}
.white_text{
    color: white;
}
.feature_content{
    width: 60%;
    margin: 2% 20%;
    line-height: 150%;
}
.testinomials_upper_body{
    width: 60%;
    margin: 20% 20%;
    font-size: 1.8rem;
    line-height: 1.4rem;
}
.testinomial_specific{
    width: 72%;
    margin: 15% 14%;
    background-color: white;
    border: solid #DEDEDE;
    border-radius: 3%;
}
.test_users{
    border-radius: 50%;
    margin: 10% auto;
}
.review_text{
    width: 76%;
    margin: 0 12%;
}
.review_stars{
    margin: 5% auto;
}
.stars{
    width: 7%;
}



/* Ad baner section here onwards (frame 4)*/

.ad_specific{
    padding: 6% 3%;
}
.newsletter_container{
    padding: 5% 0;
    border-radius: 0.2rem;
    color: white;
    background: linear-gradient(270deg, #D71489 -1.04%, #004788 100%);
}
.form_email_val{
    position: relative;
}
.letter_title{
    font-size: 2em;
    margin: 5% 20%;
    width: 60%;
}
.email_id{
    width: 60%;
    line-height: 300%;
    padding-right: 10%;
    /* border-radius: 1%; */
    font-size: 1rem;
}
.submit_btn{
    padding: 0.7% 5%;
    line-height: 300%;
    background: #23A6F0;
    color: white;
    border: 0;
    /* border-radius: 9%; */
    position: absolute;
    right: 5%;
    bottom: 3%;
}


/* pricing section ahead */
.pricing_text{
    width: 72%;
    margin: 0 14%;
}
.pricing_title{
    font-size: 2.7rem;
    margin: 5% 0;
}
.pricing_plans{
    padding: 10% 0;
}
.pricing_plans img:hover{
    cursor: pointer;
}
.pricing_plan_specific{
    margin-bottom: 10%;
}

/*footer section ahead*/
.footer_container{
    background-color: #fafafa;
    padding: 8% 0;
    margin: 0;
}
.contact_us{
    background-color: #fafafa;
}
.footer_title{
    margin-bottom: 4%;
    font-weight: bold;
}
.contact_btn{
    border-radius: 0.5rem;
    width: 8.7rem;
    height: 2.2rem;
    margin-top: 2rem;
    font-size: 1.3em;
}
.footer_row{
    margin: 2rem 0%;
    width: 58%;
    padding: 2% 21%;
    
}
.footer_title_second{
    font-weight: bold;
    font-size: 120%;
}
.footer_menu_items{
    margin: 5% 0;
    border: solid 1px #fafafa;
}
.footer_menu_items:hover{
    cursor: pointer;
    text-decoration: underline;
    border: solid 1px rgb(182, 178, 178);
}
.footer_title_second:nth-last-child(1){
    font-weight: normal;
    padding: 10% 0;
}
.social_media_icon{
    display: inline-block;
    margin-right: 4%;
}
.social_media_links{
    vertical-align: middle;
}
.social_media_icon svg:hover{
    background: #DDC9C5;
    cursor: pointer;
}
.footer_main{
    background-color: white;
}


/* contact-2 section ahead */

.contact-2{
    background-image: url('../images/contact-2/bg_img.png');
    height: 100%;
    color: white;
    padding: 7.2% 0;
    padding-bottom: 2%;
}
.contact-2-upper-part{
    margin: 0;
    padding: 0;
}
.contact-2-container{
    margin: 5rem 10%;
}
.contact-2-heading{
    font-size: 300%;
    line-height: 200%;
    font-weight: bold;
    margin-bottom: 0;
}
.contact-2-text{
    font-size: 1.4rem;
    line-height: 2rem;
    margin-right: 1%;
}
.contact-2-img-holder{
    padding-top: 7.4%;
    padding-bottom: 12%;
}
.contact-form-img{
    width: 100%;
    margin: 0;
}
.contact-form{
    background-color: white;
}
.form-align{
    margin: auto 10%;
}
#appointment-form *{
    outline: none;
    line-height: 2.3rem;
    width: 100%;
    margin: 5% 0;
    padding: 0;
    
}
#appointment-form{
    text-align: left;
    font-size: 180%;
    font-weight: bold;
    margin: 5% 10%;
    width: 80%;
}
#appointment-form input{
    line-height: 2.3rem;
    border-radius: 0.4rem;
    background-color: #fafafa;
    border: gray solid 1px;
}
#dept, .book_btn, #time{
    font-size: 1rem;
    line-height: 2.3rem;
    background-color: #fafafa;
    border-radius: 0.4rem;
    padding: 0.6rem 0;
}
.book_btn{
    background-color: #23A6F0;
    border: none;
}




/* special purpose classes */
.no_vertical_margin{
    margin: 0 auto;
}