.main_container{
    width: 1002px;
    margin: auto;
}
.container{
    width: 940px;
    margin: 0 auto;
}
header{
    background-color: #7dd9e8;
    padding: 0px;
    width: 100%;
}

.clearfix:after{
    content: '';
    clear: both;
    display: table;
}
.float_left{
    float:left;
}
.float_right{
    float: right;
}
li a{
    color: black;
    text-decoration: none;
}
  
li a:hover {
    border-bottom: 1px solid black;
}

h1 {
    font-size: 26px;
  }
  
h2{
font-size: 18px;
}

h4{
font-size: 16px;
}

h5{
font-size: 14px;
}

.sub_header{
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
    background: #f5f5f5;
    padding: 12px 0px;
}

footer{
    background-color: #727272;
    color: white;
    margin-top: 30px;
    padding: 18px 0px 18px 0px;
}

footer a{
    color: white;
    margin: 0px 7px;
}
footer a:first-child{
    margin-left: 0px;
}
.main_body{
    width: auto;
    margin-top: 29px;
}
.left_sidebar{
    margin-left: 33px;
    width: 194px;
    height: 600px;
    background-color: #F5F5F5;
}
.right_sidebar{
    width: 176px;
    height: 600px;
    margin-right: 31px;
    background-color: #F5F5F5;
}
.body_content{
    float: left;
    margin-left: 26px;
    width: 518px;
}
img{
    max-width: 100%;
}