@media only screen and (max-device-width : 800px){
    /* Styles */

    .left_sidebar, .right_sidebar{
        display: table;
        width: 99%;
        margin:1% 1%;
    }
    .search_list_text{
        width: 100%;
        font-size: 1rem;
    }
   
    .mob_view_800{
        float: left;
        width: 100%;
    }
    .main_container{
        width: 100%;
        margin: auto;
    }
    .container{
        width: 100%;
        margin: auto;
    }
    header nav{
        display: none;
    }
    .user_info{
        display: none;
        /* content: url('../images/user_setting.png');
        margin-right: 2%; */
    }
    .notice span{
        display: none;
    }
    .body_content{
        float: none;
        margin: auto;
    }

}
.posts{
    width: 100%;
}
    
}
@media only screen and (min-device-width: 581px) and (max-device-width:753px){
    .body_content{
        float: none;
        margin: auto;
    }

}
@media only screen and (max-device-width:581px) {
    .search_btn{
        display: none;
    }
    .search_bar{
        float: right;
        margin-right: 2%;
    }
    .menu{
        visibility: hidden;
    }
    .menu:after{
        content: url('../images/menu.png');
        visibility: visible;
        float: left;
        position: relative;
        bottom: -1.2rem;
        left: -6%;
    }
    .notice{
        visibility: hidden;
    }
    .notice:after{
        content: url('../images/user_icon.png');
        visibility: visible;
        float: right;
        position: relative;
        bottom: 1.2rem;
        right: 12%;
    }
    .sub_header{
        margin: 0;
        padding: 0;
    }
    .main_body{
        margin-top: 2%;
    }
}
@media only screen and (min-device-width: 1004px){
    .full_width_header{
        width: 100%;
        background-color: #7dd9e8;
    }
    .full_width_nav{
        width: 100%;
        background-color: #f5f5f5;
    }
    .full_width_footer{
        width: 100%;
        background-color: #727272;
    }
}

@media only screen and (max-device-width:581px){
    .main_container{
        width: 36rem;
        margin: 0;
        padding: 0;
    }
}