.search_input{
    outline: none;
    border: none;  
    background: url('../images/srch_bar.png');
    background-position: center;
    color: #869497;
    background-repeat: no-repeat;
    font-size: 12px;
    width: 264px;
    height: 20px;
    margin: 0px;  
}
.logo_container{
    width: 582px;
    padding: 0%;
}
.logo_container .search_bar{
    margin-top: 38px;
    margin-left: 24px;
    border: none;
}
.search_btn{
    width: 53px;
    height: 20px;
    font-weight: bold;
    border: none;
    font-size: 10px;
    color: white;
    border: none;
    margin-left: 6px;
    background: url('../images/srch_btn.png');
    background-repeat: no-repeat;
    background-position: center ;
}
.search_btn:hover{
    cursor: pointer;
}
.user_info {
    text-align: right;
    padding: 25px 0px;
}

.user_info p{
    margin-top: 4px;
    font-weight: bold;
}
  
.user_info ul li {
    display: inline-block;
    border-right: 2px solid black;
    padding: 0px 4px;
}
  
.user-info ul li:last-child {
    border: none;
    padding: 0;
}
  
.user-info span:hover {
    cursor: pointer;
}

.user_info span:hover {
    cursor: pointer;
}

.menu a{
    margin-right: 26px;
}
.menu{
    margin-left: 40px;
}
.notice{
    margin: 0px;
}
.notice a{
    margin-right: 31px;
}
.notice img{
    margin-right: 5px;
}
.notice span{
    position: relative;
    bottom: 2px;
}
.sub_header>nav>a:hover{
    color: grey;
    border: none;
}
.list_title{
    background-color: #2FC1DA;
    color: white;
    padding: 14px 11px;
}
.search_list li{
    padding: 11px 0px 8px 11px;
    margin: 0px;
}
.search_list li:hover, .search_list li a:hover{
    cursor: pointer;
    border: none;
    background-color: white;
}
.search_list img{
    margin-right: 13px;
}
.search_list_text{
    width: 9rem;
    margin: 0px;
    padding: 0px;
}
.all_data{
    width: 257px;
    height: 65px;
    background: url('../images/bg-left-rnd.png');
}
.subscribed_data{
    width: 257px;
    height: 65px;
    background: url('../images/bg-right-rnd.png');
}
.entry_nav a{
    background-image: url('../images/grey_btn.png');
    background-repeat: no-repeat;
    height: 28px;
    width: 114px;
    margin-left: 9px;
    margin-top: 10px
}
.entry_nav a:hover{
    background-image: url('../images/blue-btn-hover.png');
    color:rgb(71, 70, 70);
    border: none;
}
.entry_nav .active{
    background-image: url('../images/Blue-button.png');
}
.entry_nav a:last-child{
    margin-right: 9px;
}

.entry_nav a div{
    margin-top: 10px;
    text-align: center;
    font-size: 11px;
    margin-bottom: 0px;
    padding:0px;
}
.data{
    height: 64px;
}
.data_type{
    margin-top: 12px;
    text-align: center;
}
.post{
    margin-top: 15px;
    border-bottom: darkgrey solid 1px;
    padding-bottom: 14px;
}
.post_detail{
    width: 440px;
}
.post_detail p{
    line-height: 14px;
    word-spacing: 5px;
}
.text_blue{
    color:#2FC1DA;
    font-weight: bold;
}
.text_green{
    color:green;
    font-weight: bold;
}
.text_red{
    color:red;
    font-weight: bold;
}