*{
  margin: 0; 
  padding: 0; 
}

.main-container{
  position: relative;
  width: 100%;
  margin-top: 2%;
}
.car, .enemyCar{
  width: 13.78%;
  height: 15%;
  position: absolute;
  bottom: 50px;
  background-image: url('../assets/images/carBg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.car{
  background-image: url('../assets/images/raceCar.png');
}
.roadLaneLeft , .roadLaneRight{
  width: 1.6129%;
  height: 12.5%;
  position: absolute;
  background: rgb(214, 205, 205);
  margin-left: 32.258%;
}
.roadLaneRight{
  margin-left: 66.129%;
}
.game-wrapper{
  background: #36393a;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.score-container{
  position: absolute;
  top: 10px;
  left: 5px;
  background: #e2d1d1;
  width: 200px;
  text-align: center;
  color: color;
  font-size: 1.5em;
  box-shadow: 0 5px 5px #777;
}
.start-btn{
  padding: 2%;
  position: absolute;
  border: none;
  outline: none;
  background-color: #e2d1d1;
  border-radius: 5px;
  color: black;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  cursor: pointer;
  font-size: 150%;
  box-shadow: 0 5px 5px #777;
}
.hide{
  display: none;
}
